* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    color: #32445a;

}

.header {
    max-width: 100%;
    height: 60px;
    padding-right: 2rem;
    padding-left: 2rem;
    border-bottom: 2px solid #ECF1F6;
    display: flex;
    align-items: center;
}

.main {
    display: flex;
    width: 100%;
    height: calc(100% - 62px);
}

.navbar {
    height: 100%;
    width: 250px;
    border-right: 2px solid #ECF1F6;
    position: relative;
}

.content {
    height: 100%;
    width: calc(100% - 250px);
    display: flex;
}

/* HEADER */

.menubutton {
    height: 100%;
    display: flex;
    align-items: center;
}

.fa-bars {
    cursor: pointer;
    transform: translateX(-500px);
    position: absolute;
}

.baslik {
    text-decoration: none;
    font-size: 1.5rem;
    color: #32445a;
}

.logo {
    width: 30px;
    margin-right: 1rem;
}


/* NAVBAR */

.section {
    width: 100%;
    height: 60%;
    margin-top: 1rem;
}

.list {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    padding: 8px;
    list-style: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;

}

.link {
    text-decoration: none;
    color: #32445a;
    display: block;


}

.active {
    background-color: #F7F8F9;
}

.list:hover {
    background-color: #e8e9e9;
}

.fa-x {
    cursor: pointer;
}




/* CONTENT  */

.container {
    width: 90%;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

.indexHeader {
    font-size: 25px;
}

.name {
    color: rgb(84, 84, 230);
}

.socialBox {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.social {
    font-size: 30px;
    text-decoration: none;
    color: #32445a;
    margin-right: 1rem;
}

.social-logo:hover {
    transform: scale(1.2);
    /* Fare imleci üzerine gelindiğinde 1.1 kat büyüt */
    transition: all 0.5s ease;
}

h1 {
    font-size: 25px;
}

.technologyBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
}

.technologyItem {
    margin-bottom: 0.5rem;
}



@media only screen and (max-width: 600px) {
    /* NAVBAR RESPONSİVE */

    .menubutton {
        transition: all 0.5s ease;
        /* Tüm özellikler için 0.3 saniyelik bir geçiş süresi uygula */
    }

    .header {
        justify-content: space-between;
        transition: all 1s ease;
    }

    .navbar {
        transform: translateX(-500px);
        z-index: 15;
        width: 100%;
        transition: all 0.1s ease;
    }

    .content {
        width: 100%;
        height: auto;
        position: absolute;
        /* transform: translateX(-5000px); */
        transition: all 0.3s ease;
    }

    .fa-bars {
        transform: translateX(0);
        transition: all 0.6s ease;
    }


    .main {
        width: 100%;
    }

    .menulogo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
}